#main {
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#content {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5vh 0;
}
