#beneficii {
  width: min(80%, 1250px);
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

#beneficii-txt {
  width: 100%;
}

#beneficii-txt h1 {
  text-align: center;
  color: #000;
}

#beneficii-txt p {
  text-align: center;
  color: #4e4e4e;
}

#beneficii-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  position: relative;
  z-index: 0;
}

.card-beneficii {
  background-color: #f9fafb;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 18px;

  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: relative;

  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.card-beneficii:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 5;
}

.card-beneficii.expanded:hover {
  transform: scale(1);
}

.card-beneficii.expanded {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  justify-content: center;
}

.card-beneficii.expanded h1 {
  font-size: 1.5rem;
}

.card-beneficii.expanded p {
  font-size: 1.15rem;
  width: 80%;
  margin-bottom: 0.8rem;
}

.card-beneficii.expanded p:nth-of-type(2) {
  text-align: left;
}

.card-beneficii h1 {
  color: #000;
  text-align: center;
  font-size: 1.2rem;
}

.card-beneficii p {
  text-align: center;
  color: #4e4e4e;
}

.card-beneficii .card-img {
  background-color: #dcfce7;
  border-radius: 50px;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}

.card-beneficii .card-img .card-icon {
  color: #16a34a;
  width: 48px;
  height: 48px;
}
