#header {
  background-color: #ffffff;

  display: flex;
  place-items: center;
  justify-content: center;

  width: 100%;
  position: sticky;
  top: 0;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  height: max(8vh, 60px);
}

#header-content {
  width: min(80%, 1250px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}

#header-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

#header-icon {
  color: #16a34a;
  height: 32px;
  width: 32px;
}

#header h1 {
  color: #000;
  letter-spacing: -1.2px;
  font-size: 1.6rem;
}

#header ul {
  color: #4e4e4e;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2rem;

  list-style: none;
}

#header li {
  transition: all 0.2s ease-in-out;
}

#header li:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #16a34a;
}
